button{
	margin-top: 10px;
}
.tableEventList
{
	padding: 20px;
	border: outset 1px lightgreen;
}

.btnNom 
{
	width: 100%;	
}

#main
{    
    padding: 0;
    margin-top: 5%;
}
td
{
	margin: 3px;
}
.list-group, .affichNbr
{
	padding: 5px;
}
.IMPOSSIBLE
{
	background-color: red;
}


.FINAL
{
	background-color: green;
}

.EXTRA
{
	visibility: hidden;
}
.glyphicon-plus{
	color: green;
}