
body{
}
@media (max-width: 600px) {
	body{
		font-size: 200%;
	}
}

p{
	font-size: 100%;
}
.btn{
	font-size: 125%;
}
th{
	font-size: 125%;	
}
td{
	font-size: 100%;
}
a{
	font-size: 125%;	
}

#headerImg{
	width: 100%;
}

button{
	margin-top: 10px;
}
.tableEventList
{
	padding: 20px;
	border: outset 1px lightgreen;
}

.btnNom 
{
	width: 100%;	
}

#main
{    
    padding: 0;
    margin-top: 5%;
}
td
{
	margin: 3px;
}
.list-group, .affichNbr
{
	
}
.IMPOSSIBLE
{
	background-color: red;
}


.FINAL
{
	background-color: green;
}

.EXTRA
{
	visibility: hidden;
}
.glyphicon-plus{
	color: green;
}

.loader {
	margin-right: auto;
	margin-left: auto;
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}