<!-- home.html -->
    <div class="jumbotron text-center tableEventList" ng-show="participant == undefined">
        <h1>Liste des {{participants.length}} participants :</h1>
        <div class="btn-group-vertical" role="group">
            <button ng-repeat ='participant in participants' type="button" class="btn btn-default" ng-click= "setParticipant( participant ); ">{{ participant }}</button>
        </div>
    </div>
  <div ng-show="participant != undefined">
  <div ng-repeat="assignment in assignments" class="jumbotron" >
    <h1>Round {{ $index + 1 }}:</h1>
    <p>Tu feras :
      <div class="list-group">
       <p class="list-group-item">Un petit cadeau à <b>{{assignment.petitCadeau}}</b> </p>
       <p class="list-group-item">Un gros cadeau à <b>{{assignment.grosCadeau}}</b> </p>
      </div>
  </div>
  <button  type="button" class="btn btn-default" ng-click= "addANewAssignment(); "> Tirer des noms pour un autre tour ! </button>
</div>

