
<div  ng-cloak>
  <div class="navbar navbar-default" role="navigation">
    <div class="container">
      <ul class="nav navbar-nav">
      <li class="nav-item" id="myAssNav" >
        <a class="nav-link" ng-click="showMyAssignments()" href="">{{ participant }} </a>
      </li>
      <li class="nav-item" id="AssListNav" >
        <a class="nav-link" ng-click="showOthersAssignments()" href="">Les autres</a>
      </li>
      <li>
        <a class="nav-link" ng-click="disconnect()" href="">Déconnexion</a>
    </li>
    </ul>
  </div>
</div>
    <div id="myAssignments">
    <table class="table">
        <thead>
        <tr>
        <th> Round </th>
        <th> Petit cadeau </th>
        <th> gros cadeau </th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="round in userAssignements.assignments"  class="{{round.state}}">
          <td>{{round.num}}</td>
          <td >{{round.petitCadeau}}</td>
          <td>{{round.grosCadeau}}</td>
        </div>
        </td>
        </tbody>
      </table>
      <button  ng-show="!isDone" type="button" class="btn btn-default" ng-click= "addANewAssignment(appToken); "> 
        <span class="glyphicon glyphicon-plus"></span> Tirer des noms pour un autre tour ! </button>
  </div>
  <div id="otherAssignments">
    <div ng-repeat="userAssignment in globalAssignments">
    <div ng-show="userAssignment.name != participant" class="affichNbr">  
      <h3>{{ userAssignment.name }}</h3>
     <p>{{ userAssignment.assignments.length }} tour{{userAssignment.assignments.length>1?"s":""}} déjà tirés.</p>
      </div>
    </div>
    </div>
  </div>
</div>
