
<div>

    <h1>{{participant}}</h1>
    <table class="table">
        <thead>
        <tr>
        <th> Round </th>
        <th> Petit cadeau </th>
        <th> gros cadeau </th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="round in userAssignements.assignments"  class="{{round.state}}">
          <td>{{round.num}}</td>
          <td >{{round.petitCadeau}}</td>
          <td>{{round.grosCadeau}}</td>
        </div>
        </td>
        </tbody>
      </table>
      <button  type="button" class="btn btn-default" ng-click= "addANewAssignment(appToken); "> Tirer des noms pour un autre tour ! </button>
  <button type="button" class="btn btn-default btnNom" ng-click="disconnect()" >Déconnexion</button>
    <div ng-repeat="userAssignment in globalAssignments">
    <div ng-show="userAssignment.name != participant" class="affichNbr">  
      <h1>{{ userAssignment.name }}</h1>
      {{ userAssignment.assignments.length }} tour{{userAssignment.assignments.length>1?"s":""}} déjà tirés.
      </div>
    
    
    
    </div>
  </div>
</div>
